.normal {
  max-width: 1200px;
  margin: 0 auto 60px;
}

.normal p {
  font-size: 18px;
  color: #4A5E71;
  margin-bottom: 16px;
}

:global(.dark) .normal p {
  color: rgba(255, 255, 255, .8);
}

.normal p a {
  color: #0273DC;
}
