/**
  FireFox CSS backdrop-filter polyfill
  https://www.cnblogs.com/coco1s/p/14953143.html
*/

.g-glossy-firefox,
.g-glossy-firefox-cover {
  display: none;
}

@supports (background: -moz-element(#article-body)) {
  .g-glossy-firefox-cover {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: calc(var(--anchor-offset) + 72px);
    z-index: 22;
    background-color: white;
  }

  .g-glossy-firefox {
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    height: calc(var(--anchor-offset) + 72px);
    z-index: 24;
    background: -moz-element(#article-body) no-repeat top;
    filter: blur(10px);
  }
}
