
h1, body {
  margin: 0;
  padding: 0;
}

.b {
  background: green;
}

.yuque {
  width: 80px;
  height: 80px;
  background: url(./assets/yuque.png) no-repeat;
}

.roadhog {
  width: 200px;
  height: 200px;
  background: url(./assets/roadhog.jpg) no-repeat;
}
