.normal {
  height: 246px - @ui-status-bar-height;
  overflow: hidden;
  ul {
    height: 100%;
    overflow: auto;
  }
}

.terminal {
  padding: 0 24px;
  height: 100%;
}

.header {
  height: 20px;
}

.main {
  height: 246px;
}

.minimize {
  height: 20px;

  .main {
    display: none;
  }
}
