.DS_Store
tmp
/node_modules
/packages/*/node_modules
/packages/*/test/fixtures/**/node_modules
/examples/*/node_modules
/examples/*/www
/examples/*/_dist
/examples/*/_package
/website/build
lib
dist
coverage
.nyc_output
npm-debug.log*
lerna-debug.log
.changelog
.umi
.umi-production
