/node_modules
/packages/*/lib
/packages/*/dist
/packages/*/node_modules
/coverage
/.nyc_output
/.changelog
/dist
.DS_Store
.umi
.umi-production
.umi-test
**/fixtures/**/dist
.now
/.idea/
/umiFork.iml
/packages/core/src/Service/fixtures/normal/node_modules/
