registry=https://registry.npmjs.org/

# Prevent jsx namespace conflicts, because Vue global types will auto install.
# In the future, Vue 3 will fix this issue
# See https://github.com/vuejs/core/blob/main/CHANGELOG.md#features-1
auto-install-peers=false
