{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "proseWrap": "never",
  "overrides": [
    { "files": ".webpackrc", "options": { "parser": "json" } },
    { "files": ".prettierrc", "options": { "parser": "json" } }
  ]
}
