.normal {
  max-width: 1200px;
  margin: 0 auto 60px;
}

.normal ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.normal li {
}

:global(.dark) .normal li {
  background: rgba(255, 255, 255, 0.9);
}

.normal li img {
  width: 224px;
  height: 73px;
}
