logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
.nodejs-cache
# production
/dist

# misc
.DS_Store

# umi
.umi
.umi-production
