.actionContainer {
  position: relative;
  height: 24px;
  line-height: 24px;
  background-color: #fff;
}

.titleWrapper {
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  > span {
    padding: 0 12px;
  }
}

.actionWrapper {
  position: absolute;
  top: 0;
  right: 0;
  color: #000;
  > span {
    display: inline-block;
    padding: 0 12px;
    &:hover {
      cursor: pointer;
      color: blue;
    }
  }
}

.logContainer {
  padding: 0;
}
