@import '~antd/dist/antd.less';

html,
body,
#root {
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .ant-select-dropdown {
    background-color: @select-dropdown-bg;
  }
  .ant-select-dropdown-menu-item-selected {
    background-color: @select-dropdown-selected-bg;
  }
  .ant-select-dropdown-menu-item {
    transition: all @duration-fast @ease-base-out;
  }
  .ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
    color: @primary-color;
    background-color: @select-dropdown-bg;
  }
  .ant-select-dropdown-menu-item-active:hover:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: @select-dropdown-active-bg;
  }

  .ant-btn {
    &:hover,
    &:focus {
      color: @text-color;
      background-color: @btn-default-hover-bg;
      border-color: @btn-default-hover-bg;
    }
    &:active,
    &.active {
      color: @text-color;
      background-color: @btn-default-active-bg;
      border-color: @btn-default-active-bg;
    }
  }
  .ant-btn-primary {
    &:hover,
    &:focus {
      color: @btn-primary-color;
      background-color: @btn-primary-hover-bg;
      border-color: @btn-primary-hover-bg;
    }
    &:active,
    &.active {
      color: @btn-primary-color;
      background-color: @btn-primary-active-bg;
      border-color: @btn-primary-active-bg;
    }
  }
}

ul,
ol {
  list-style: none;
}
h1,
h2,
h3 {
  color: @heading-color;
}
h1,
h2,
h3,
p,
a {
  font-weight: 400;
}
h1 {
  font-size: 20px;
  margin: 0;
}
h2 {
  font-size: @font-size-lg;
  margin: 0;
}
h3 {
  font-size: @font-size-base;
}
p {
  margin: 0;
  color: @text-color;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: @ui-scroll-bg;
  border: 3px solid transparent;
  background-clip: padding-box;
  border-radius: 5px;
}

::-webkit-scrollbar-track-piece {
  background: 0 0;
}

.bigTitle {
  font-size: calc(40px + 1vw);
}

@media @mobile {
}
