html,
body,
#root {
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

.bigTitle {
  font-size: calc(40px + 1vw);
}

a {
  color: fade(#000, 45);
}
@media (max-width: @mobile) {
}
