.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 120px;
  &-spin {
    text-align: center;
    p {
      margin-top: 8px;
    }
  }
}
