.footer-normal {
  background: #f1f5f7;
  padding: 40px 0;
  color: #4a5e71;
}

.footer-wrapper {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left {
  flex: 1;
}

.footer-right {
  min-width: 400px;
  font-size: 16px;
}

.footer-copyright {
  font-size: 14px;
  color: #8996a1;
  line-height: 22px;
  margin-top: 24px;
}

.footer-line {
  line-height: 40px;
  display: flex;
}

.footer-line h3 {
  font-size: 18px;
  width: 92px;
  margin-right: 66px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.footer-line div {
  flex: 1;
}

.footer-line div a{
  text-decoration: none;
    color: #4a5e71;
}