.normal {
  max-width: 1200px;
  margin: 0 auto;
}

.normal ul {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.normal ul li:nth-child(1) div {
  background-image: url(https://img.alicdn.com/imgextra/i1/O1CN01X9PWb51WTrmbiflpT_!!6000000002790-2-tps-200-200.png);
}
.normal ul li:nth-child(2) div {
  background-image: url(https://img.alicdn.com/imgextra/i3/O1CN01bQ0kTe1EBOjKuXpqp_!!6000000000313-2-tps-200-202.png);
}
.normal ul li:nth-child(3) div {
  background-image: url(https://img.alicdn.com/imgextra/i2/O1CN013xl2111M1nLrWyeFh_!!6000000001375-2-tps-200-202.png);
}
.normal ul li:nth-child(4) div {
  background-image: url(https://img.alicdn.com/imgextra/i2/O1CN01u39OgG1KsLZ2sIJMg_!!6000000001219-2-tps-200-202.png);
}
.normal ul li:nth-child(5) div {
  background-image: url(https://img.alicdn.com/imgextra/i4/O1CN01h5IQ8c1mll6tVqVhQ_!!6000000004995-2-tps-200-200.png);
}
.normal ul li:nth-child(6) div {
  background-image: url(https://img.alicdn.com/imgextra/i1/O1CN01y7KgLZ26MNTamgba7_!!6000000007647-2-tps-200-200.png);
}
.normal ul li:nth-child(7) div {
  background-image: url(https://img.alicdn.com/imgextra/i4/O1CN016Wo1XZ1dSg4HhJn0M_!!6000000003735-2-tps-200-200.png);
}
.normal ul li:nth-child(8) div {
  background-image: url(https://img.alicdn.com/imgextra/i2/O1CN01ub7E7l1QT3O8vEbCq_!!6000000001976-2-tps-200-200.png);
}

.feature {
  width: 280px;
  margin-bottom: 60px;
}

.feature div {
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  background-repeat: no-repeat;
  margin: 0 auto 10px;
}

.feature h3 {
  font-size: 20px;
  color: #2a445d;
  margin-bottom: 12px;
  text-align: center;
}
:global(.dark) .feature h3 {
  color: rgba(255, 255, 255, 0.8);
}

.feature p {
  font-size: 18px;
  color: #4a5e71;
}
:global(.dark) .feature p {
  color: rgba(255, 255, 255, 0.6);
}
