.project {
  &-list {
    max-height: calc(~'100vh - 140px');
    overflow-x: hidden;
    &-layout {
      min-height: 100vh;
      .tag {
        display: inline-block;
        border-radius: 4px;
        vertical-align: top;
        margin-left: 8px;
        &-progress {
          color: @primary-color;
          background-color: fade(@primary-color, 10);
          border-color: fade(@primary-color, 45);
        }
        &-error {
          color: @ui-tag-error-color;
          background-color: fade(@ui-tag-error-color, 10);
          border-color: fade(@ui-tag-error-color, 45);
        }
      }
      &-sider {
        padding: 40px 0;
        text-align: center;
        color: @light;
        &-title {
          h1 {
            font-size: @font-size-base;
            line-height: 22px;
            margin-bottom: 24px;
            font-weight: 500;
          }
        }
        &-item {
          text-align: center;
          user-select: none;
          i {
            font-size: 20px;
          }
          p {
            font-size: 14px;
          }
        }
      }
      &-content {
        padding: 26px 32px;
      }
    }
  }
  &-title {
    font-size: 24px;
    line-height: 33px;
  }
  &-action {
    button {
      margin-left: 8px;
    }
  }
  &-list {
    &-item {
      padding: 24px;
      margin-bottom: 12px;
      background-color: @card-background;
      border-radius: @border-radius-base;
      transition: background-color @duration-fast @ease-in;
      &:hover {
        background-color: @card-hover-border;
      }
      ul li {
        a {
          color: @text-color;
          i {
            margin: 8px;
          }
          &:hover {
            color: @primary-5;
          }
        }
        em {
          display: none;
        }
      }
      &-title {
        a {
          color: @heading-color;
          font-size: @font-size-lg;
          &:hover {
            color: @primary-5;
          }
        }
      }
    }
  }
  h1 {
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
  }

  .projectItem {
    span {
      margin-right: 12px;
      font-weight: bold;
    }
    button {
      margin-right: 6px;
    }
  }
}
