.backgroundImg {
  background: url('./bg.img.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
}

@font-face {
  font-family: 'UtooSvgFont';
  src: url('./bg.img.svg') format('svg');
}

.icon {
  font-family: 'UtooSvgFont';
}