.container {
    padding: 100px 15%;
}
.todo-header{
    display: flex;
    justify-content: space-between;
    height: 48px;
    align-items: center;
    background-color: #1677ff;
    margin-top: 30px;
    padding: 0 20px;
    color: #fff;
}
.todo-filter-btn{
    margin-right: 20px;
}
.todos{
    border: 1px solid #1677ff;
}
.todos-item{
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
}
.description[data-status="completed"] {
    text-decoration: line-through;
  }

.mr-20 {
    margin-right: 20px;
}