.normal {
  background: #f1f5f7;
  padding: 40px 0;
  color: #4a5e71;
}

.wrapper {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.left {
  flex: 1;
}

.right {
  min-width: 400px;
  font-size: 16px;
}

.copyright {
  font-size: 14px;
  color: #8996a1;
  line-height: 22px;
  margin-top: 24px;
}

.line {
  line-height: 40px;
  display: flex;
}

.line h3 {
  font-size: 18px;
  width: 92px;
  margin-right: 66px;
}

.line div {
  flex: 1;
}
