.normal {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: auto 1 1;
  overflow: hidden;
  height: 100%;
  display: flex;
}

.sidebar {
  width: 210px;
  background: #fff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2;

  .logo {
    text-align: center;
    padding: 20px 0;
    img {
      width: 50px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    font-size: 20px;
    line-height: 33px;
  }
  li {
    margin-bottom: 6px;
    a {
      padding-left: 5px;
      display: block;
      color: #0a0a0a;
    }
    a.active {
      background: #cfd7ff;
    }
  }
}

.main {
  flex: 1;
  overflow: auto;
  background: #fbeeb4;

  h1 {
    font-size: 28px;
    font-weight: 300;
    background: #fbdf88;
    padding: 10px 20px;
  }

  .content {
    padding: 10px 20px;
  }
}
