
.normal {
  display: flex;
  margin-bottom: 40px;
}

.normal div {
  flex: 1;
  border-top: 1px solid #EBF0F4;
  height: 1px;
  margin-top: 18px;
}

.normal h2 {
  font-size: 26px;
  color: #2A445D;
  text-align: center;
  padding: 0 20px;
}

:global(.dark) .normal h2 {
  color: rgba(255, 255, 255, .7);
}
