.container {
  width: 100%;
  padding: 0 20px;
}

.section {
  padding: 16px 24px 24px 0;
  height: 100%;
  overflow: hidden;
}

.actions {
  margin: 0 auto 24px;
}

.output {
  display: inline-block;
  &:hover {
    color: #fff;
  }
}

.row {
  height: 64px;
  line-height: 64px;
}

.normal {
  overflow: hidden;
}

.buttonGroup {
  > button {
    margin-right: 8px;
  }
}
.runningText {
  margin-left: 8px;
}
.formatGroup {
  text-align: right;
}
.logContainer {
  margin-top: 12px;
  height: calc(~'100% - 68px');
  overflow: hidden;
}
.title {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.85);
  line-height: 24px;
  margin-bottom: 8px;
}

.confirmMessage {
  margin-bottom: 24px;
}
.modalContainer {
  :global {
    .ant-form-vertical {
      .ant-form-item-label {
        padding: 0 0 12px;
      }
    }
  }
}

.modleLableTitle {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.85);
  line-height: 22px;
  margin-bottom: 2px;
}

.modleLableDesc {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.45);
  line-height: 22px;
}
.modleLablelDescIcon {
  display: inline-block;
  margin-left: 8px;
}

.runningInfo {
  display: inline-block;
  margin-left: 8px;
}
