.title {
  font-weight: bold;
  color: blue;
}

.todos {
  padding: 0;
  list-style: none;
}

.todo {
  display: flex;
  margin-bottom: 6px;
}
.todo span:nth-child(1) {
  width: 24px;
}
.todo span:nth-child(2) {
  width: 300px;
  background: rgba(0, 0, 0, 0.1);
  margin-right: 12px;
  padding: 0 6px;
}
.todo span:nth-child(3) {
  flex: 1;
}
