name: Compressed Size

env:
  NODE_OPTIONS: --max-old-space-size=6144

on:
  pull_request:
    types:
      - 'opened'
      - 'synchronize'
    paths-ignore:
      - 'examples/**'
      - 'docs/**'
      - '**/*.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install pnpm
        uses: pnpm/action-setup@v2.2.4

      - name: Get pnpm store directory
        id: pnpm-cache
        run: |
          echo "pnpm_cache_dir=$(pnpm store path)" >> $GITHUB_OUTPUT

      - name: Setup pnpm cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
          key: ${{ runner.os }}-pnpm-store-compressed-size-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-compressed-size-

      - uses: preactjs/compressed-size-action@v2
        with:
          build-script: 'build'
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
          pattern: './packages/*/{dist,compiled}/**/*.{js,d.ts}'
