name: e2e-test

env:
  NODE_OPTIONS: --max-old-space-size=6144

on:
  push:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
      - '**/*.md'
  pull_request:
    types:
      - 'opened'
      - 'synchronize'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [16.x]
        os: [ubuntu-latest, windows-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: 'https://registry.npmjs.org/'

      - name: Setup Global Cypress-cache-folder in Windows
        if: matrix.os == 'windows-latest'
        run: echo "CYPRESS_CACHE_FOLDER=${HOME}\.cache\Cypress"  >> $env:GITHUB_ENV

      - name: Install pnpm
        uses: pnpm/action-setup@v2.2.2
        with:
          run_install: false

      - name: Install dependencies
        run: pnpm i

      - name: Build targets
        run: pnpm umi-scripts turbo build --filter ./examples/max... --filter ./examples/test-test/... --filter ./packages/umi/...

      - name: e2e:example-max
        uses: cypress-io/github-action@v4
        with:
          browser: chrome
          working-directory: ./examples/max
          install: false
          install-command: pnpm i cypress
          command: npm run e2e:ci
        env:
          CYPRESS_RECORD_KEY: ${{secrets.CYPRESS_KEY}}

      - name: e2e:example:mfsu-e2e
        if: env.CYPRESS_RECORD_KEY
        uses: cypress-io/github-action@v4
        with:
          browser: chrome
          working-directory: ./examples/mfsu-e2e
          install: false
          install-command: pnpm i cypress
          command: npm run e2e:ci
        env:
          CYPRESS_RECORD_KEY: ${{secrets.CYPRESS_KEY}}

      - name: e2e:example-test-test
        working-directory: ./examples/test-test
        run: |
          npx umi setup
          pnpm test
